@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  direction: rtl;
  scroll-behavior: smooth;
  font-family: IRANYekanXFaNum;
}

.light {
  --color-green-primary: #008c78;
  --color-lightly-green: #24d0b7;
  --color-green-dark: #005b77;
  --color-star-yellow: #f8bc24;
  --color-red-error: #ef5350;
  --color-field-silver: #848484;
  --color-light-gray: #eaeaea;
  --color-dark-gray: #626262;
  --color-default-black: #1e1e1e;
  --color-default-light: #ffffff;
  --color-background-default: #f3f4f6;
  --color-sun-background: #ffdf9b;
  --color-moon-background: #455a64;
  --color-light-green: #eefffc;
}

.dark {
  --color-green-primary: #008c78;
  --color-lightly-green: #0a4138;
  --color-green-dark: #017497;
  --color-star-yellow: #f8bc24;
  --color-red-error: #ef5350;
  --color-field-silver: #848484;
  --color-light-gray: #3d3d3d;
  --color-dark-gray: #adadad;
  --color-default-black: #ffffff;
  --color-default-light: #1e1e1e;
  --color-background-default: #111111;
  --color-sun-background: #ffdf9b;
  --color-moon-background: #455a64;
  --color-light-green: #292727;
}

@theme {
  --color-green-primary: var(--color-green-primary);
  --color-lightly-green: var(--color-lightly-green);
  --color-green-dark: var(--color-green-dark);
  --color-star-yellow: var(--color-star-yellow);
  --color-red-error: var(--color-red-error);
  --color-field-silver: var(--color-field-silver);
  --color-light-gray: var(--color-light-gray);
  --color-dark-gray: var(--color-dark-gray);
  --color-default-black: var(--color-default-black);
  --color-default-light: var(--color-default-light);
  --color-background-default: var(--color-page-background);
  --color-sun-background: var(--color-sun-background);
  --color-moon-background: var(--color-moon-background);
  --color-light-green: var(--color-light-green);
}
